* text=auto !eol
/Makefile -text
/RDK_README -text
/build.sh -text
ds/Makefile -text
ds/aspectRatio.cpp -text
ds/audioCompression.cpp -text
ds/audioEncoding.cpp -text
ds/audioOutputPort.cpp -text
ds/audioOutputPortConfig.cpp -text
ds/audioOutputPortConfig.hpp -text
ds/audioOutputPortType.cpp -text
ds/audioStereoMode.cpp -text
ds/dslogger.cpp -text
ds/frameRate.cpp -text
ds/frontPanelConfig.cpp -text
ds/frontPanelIndicator.cpp -text
ds/frontPanelTextDisplay.cpp -text
ds/host.cpp -text
ds/iarmProxy.cpp -text
ds/iarmProxy.hpp -text
ds/include/aspectRatio.hpp -text
ds/include/audioCompression.hpp -text
ds/include/audioEncoding.hpp -text
ds/include/audioOutputPort.hpp -text
ds/include/audioOutputPortType.hpp -text
ds/include/audioStereoMode.hpp -text
ds/include/displayConnectionChangeListener.hpp -text
ds/include/dsConstant.hpp -text
ds/include/dslogger.h -text
ds/include/dsregisterlog.h -text
ds/include/enumerable.hpp -text
ds/include/exception.hpp -text
ds/include/frameRate.hpp -text
ds/include/frontPanelConfig.hpp -text
ds/include/frontPanelIndicator.hpp -text
ds/include/frontPanelSettings.hpp -text
ds/include/frontPanelTextDisplay.hpp -text
ds/include/host.hpp -text
ds/include/illegalArgumentException.hpp -text
ds/include/list.hpp -text
ds/include/manager.hpp -text
ds/include/pixelResolution.hpp -text
ds/include/powerModeChangeListener.hpp -text
ds/include/stereoScopicMode.hpp -text
ds/include/unsupportedOperationException.hpp -text
ds/include/videoDFC.hpp -text
ds/include/videoDevice.hpp -text
ds/include/videoOutputPort.hpp -text
ds/include/videoOutputPortType.hpp -text
ds/include/videoResolution.hpp -text
ds/init.cpp -text
ds/manager.cpp -text
ds/pixelResolution.cpp -text
ds/stereoScopicMode.cpp -text
ds/videoDFC.cpp -text
ds/videoDevice.cpp -text
ds/videoDeviceConfig.cpp -text
ds/videoDeviceConfig.hpp -text
ds/videoOutputPort.cpp -text
ds/videoOutputPortConfig.cpp -text
ds/videoOutputPortConfig.hpp -text
ds/videoOutputPortType.cpp -text
ds/videoResolution.cpp -text
hal/include/dsAudio.h -text
hal/include/dsAudioSettings_sample.h -text
hal/include/dsDisplay.h -text
hal/include/dsError.h -text
hal/include/dsFPD.h -text
hal/include/dsHost.h -text
hal/include/dsTypes.h -text
hal/include/dsUtl.h -text
hal/include/dsVideoDevice.h -text
hal/include/dsVideoDeviceSettings_sample.h -text
hal/include/dsVideoPort.h -text
hal/include/dsVideoPortSettings_sample.h -text
hal/include/dsVideoResolutionSettings_sample.h -text
hal/include/dshallogger.h -text
hal/include/dshalregisterlog.h -text
install/bin/TODO -text
install/lib/TODO -text
/rdk_build.sh -text
/rdk_env.xml -text
rpc/Makefile -text
rpc/cli/Makefile -text
rpc/cli/dsAudio.c -text
rpc/cli/dsDisplay.c -text
rpc/cli/dsFPD.c -text
rpc/cli/dsVideoDevice.c -text
rpc/cli/dsVideoPort.c -text
rpc/cli/dsclientlogger.c -text
rpc/include/dsMgr.h -text
rpc/include/dsRpc.h -text
rpc/include/dsclientlogger.h -text
rpc/include/dsclientregisterlog.h -text
rpc/include/dsserverlogger.h -text
rpc/include/dsserverregisterlog.h -text
rpc/include/exception.hpp -text
rpc/include/hostPersistence.hpp -text
rpc/include/illegalArgumentException.hpp -text
rpc/srv/Makefile -text
rpc/srv/dsAudio.c -text
rpc/srv/dsDisplay.c -text
rpc/srv/dsFPD.c -text
rpc/srv/dsMgr.c -text
rpc/srv/dsVideoDevice.c -text
rpc/srv/dsVideoPort.c -text
rpc/srv/dsserverlogger.c -text
rpc/srv/hostPersistence.cpp -text
sample/Makefile -text
sample/getAudioConfig.cpp -text
sample/getDisplayAttributes.cpp -text
sample/getFPBrightness.cpp -text
sample/getVideoOutputPorts.cpp -text
sample/getZoomSettings.cpp -text
sample/isDisplayConnected.cpp -text
sample/setAudioMute.cpp -text
sample/setFPBrightness.cpp -text
sample/setFPTextDisplay.cpp -text
sample/setResolution.cpp -text
sample/setZoomSettings.cpp -text
sample/tenableHDCP -text
sample/tenableHDCP.cpp.disabled -text
sample/testFrontPanel.cpp -text
test/Makefile -text
test/testAopRpc.cpp -text
test/testConfigAOP.cpp -text
test/testConfigVOP.cpp -text
test/testFrontPannel.cpp -text
test/testGetAudioConfig.cpp -text
test/testGetVideoOutputPorts.cpp -text
test/testHost.cpp -text
test/testLogger.cpp -text
test/testPersistence.cpp -text
test/testSetAudioConfig.cpp -text
test/testVideoDevice.cpp -text
test/testVideoDisplay.cpp -text
test/testVopRpc.cpp -text
